<table class="table table-striped">
  <thead>
    <tr id="listadelocos">
      <th scope="col">Fotografia</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Telefono</th>
      <th scope="col">Correo</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of lista">
      <td (click)="open(content,'edit',dato)"><img id='foto' src={{dato.fotografia}}></td>
      <td (click)="open(content,'edit',dato)">{{ dato.nombre }}</td>
      <td (click)="open(content,'edit',dato)">{{ dato.direccion }}</td>
      <td (click)="open(content,'edit',dato)">{{ dato.telefono }}</td>
      <td (click)="open(content,'edit',dato)">{{ dato.correo }}</td>
      <td><img id='borrar' src="../../assets/borrar.png" (click)="borrar(dato)"></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-lg btn-outline-primary" (click)="open(content,'nuevo')">Nuevo Parvulario</button>

<!– --------------------MODAL ------- ------------ ->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{this.titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="parvularioForm" (submit)="send(this.tipo)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="rut">Rut</label>
          <input [readonly]="this.tipo=='edit'" type="text" class="form-control" id="rut" formControlName="rut">
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion">
        </div>
        <div class="form-group">
          <label for="correo">Correo</label>
          <input type="text" class="form-control" id="correo" formControlName="correo">
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="number" class="form-control" id="telefono" formControlName="telefono">
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="telefono">Lugar de estudios</label>
            <input type="text" class="form-control" id="lugarEstudios" formControlName="lugar_estudios">
          </div>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="this.archivoSrv.choseefile($event,'Parvularios',1)"
            id="fotografia2" lang="es">
          <label class="custom-file-label" for="customFileLang">Seleccionar Fotografía</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="this.archivoSrv.choseefile($event,'Parvularios',2)"
            id="inhabilidad2" lang="es">
          <label class="custom-file-label" for="customFileLang">Certificado inhabilidad</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="this.archivoSrv.choseefile($event,'Parvularios',3)"
            id="antecedentes2" lang="es">
          <label class="custom-file-label" for="customFileLang">Certificado antecedentes</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('cancel click')">Cancelar</button>
          <button type="submit" class="btn btn-outline-dark">Guardar</button>

        </div>
      </form>
    </div>

  </ng-template>