
<!-- <div id="info">
  <ul clas="navbar-nav" >


  </ul>
  </div> -->


  <div class="list-group" routerLinkActive="Activo">
      <a class="list-group-item list-group-item-action" routerLink="parvularios">Parvularios</a>
      <a class="list-group-item list-group-item-action" routerLink="apoderados">Apoderados</a>
      <a class="list-group-item list-group-item-action" routerLink="parvulos">Parvulos</a>
      <a class="list-group-item list-group-item-action" routerLink="mensajeria">Mensajeria</a>
      <a class="list-group-item list-group-item-action" routerLink="">Configuración</a>
  </div>
